# File settings:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#   binary is just a macro for -text -diff.
#
# Auto detection:
#   Handle line endings automatically for files detected as text and
#   leave all files detected as binary untouched. This will handle all
#   files NOT defined below.
#
# When reading this list, please look for the most precise areas first.
# When adding to this list, please keep the entries in alphabetical
# order.

*                  text=auto

# Configurations
.gitignore         text
.gitattributes     text

# Documentation
*.md               text diff=markdown
*.txt              text
