# Don't add files that are generated in specific subdirectories here.
# Add them in the ".gitignore" file in that subdirectory instead.
#
# Please use 'git ls-files -i --exclude-standard' command after changing this file,
# to see if there are any tracked files which get ignored after the change.
#
# When reading this list, please look for the most precise areas first.
# When adding to this list, please keep the entries in alphabetical order.

# Git
\#*\#
.\#*

# Local envs
.env.local
.env.*.local

# VS Code
**/.vscode/*

# Windows
~$*
[Ss]tyle[Cc]op.*

# Windows recycle bin used on file shares
$RECYCLE.BIN/

# Windows thumbnail cache
Thumbs.db
